body,
h1,
h2,
h3,
ul,
li {
    padding: 0;
    margin: 0
}

ul,
li {
    list-style: none;
    margin: 0
}

body {
    font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
    color: rgba(0, 0, 0, .9);
    line-height: 1.4
}

p {
    margin: .33em 0
}

h2 {
    font-size: 14px;
    font-weight: 700
}

img {
    border: 0
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fade 1s;
    padding: 48px 44px 0 48px
}

.lang {
    font-size: 0;
    -webkit-text-size-adjust: none;
    display: inline-flex;
    align-items: center
}

.lang a {
    font-size: 1rem;
    padding: 0 8px;
    position: relative;
    color: rgba(0, 0, 0, .3)
}

.lang a:hover,
.lang .lang-zh-cn.zh_CN,
.lang .lang-en-us.en_US,
.lang .lang-zh-hk.zh_HK,
.lang .lang-zh-hk_zh_TW {
    color: rgba(0, 0, 0, .9)
}

.lang a+a:before {
    content: "";
    left: 0;
    top: .2em;
    bottom: .2em;
    position: absolute;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, .3);
    transform-origin: 0 0;
    transform: scaleX(.5)
}

@media (max-width: 420px) {
    header {
        padding: 24px 20px 0 24px
    }

    .logo {
        width: 32px
    }
}

.content-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    height: calc(70vh - 80px);
    min-height: 375px;
    padding: 0 36px;
    animation: fadeAndMoveIn 1s;
    max-width: 400px;
    margin: 0 auto
}

.content {
    flex: 1;
    max-width: 100%
}

h1 {
    text-align: center;
    white-space: nowrap;
    position: relative;
    padding-bottom: 32px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 36px;
    color: rgba(0, 0, 0, .9)
}

h1:after {
    content: " ";
    position: absolute;
    left: -3px;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transform-origin: 0 100%;
    transform: scaleY(.5)
}

.version-tag {
    vertical-align: 18px;
    display: inline-block;
    border-radius: 3px;
    top: 8px;
    line-height: 1.4;
    padding: 0 8px;
    font-size: 12px;
    border: 1px solid
}

.feature-list {
    position: relative;
    text-align: justify;
    color: rgba(0, 0, 0, .7);
    font-size: 17px;
    padding-right: 5px;
    line-height: 1.4
}

.feature-list.en_US {
    text-align: left
}

li {
    padding-left: 16px;
    position: relative
}

li+li {
    margin-top: 8px
}

li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 2px;
    top: 10px;
    border-radius: 50%;
    overflow: hidden;
    min-width: 3px;
    min-height: 3px;
    background: rgba(0, 0, 0, .7);
    margin-right: 8px
}

@media (min-width: 1440px) {
    .content-wrapper {
        height: 60vh
    }
}

@media (min-width: 1023px) and (min-height: 900px) {
    .content {
        transform: scale(1.15)
    }

    .content-wrapper {
        min-height: 425px
    }
}

@media (min-width: 1439px) and (min-height: 850px) {
    .content {
        transform: scale(1.2)
    }
}

@media (min-width: 1439px) and (min-height: 900px) {
    .content {
        transform: scale(1.3)
    }

    .content-wrapper {
        height: 60vh;
        min-height: 460px
    }

    .feature-list {
        font-size: 16px
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        min-height: 425px;
        height: calc(80vh - 100px)
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 32px
    }

    .content-wrapper {
        min-height: 350px;
        height: calc(70vh - 100px)
    }

    .feature-list {
        font-size: 15px
    }

    .version-tag {
        padding: 0 4px
    }
}

@media (max-width: 413px) {
    h1 {
        font-size: 24px
    }

    .feature-list {
        font-size: 14px
    }

    .version-tag {
        vertical-align: 10px;
        font-size: 12px;
        transform: scale(.83) translate(5px);
        transform-origin: left top
    }
}

@media (max-width: 350px) {
    .version-tag {
        font-size: 12px;
        transform: scale(.67) translate(6px);
        transform-origin: left top
    }
}

@media (min-width: 768px) and (max-width: 1440px) and (min-height: 950px) {
    .content-wrapper {
        height: calc(76vh - 80px)
    }
}

.download {
    display: flex;
    padding: 10px 16px;
    justify-content: center
}

.download-button {
    height: 54px;
    margin: 56px 0 48px;
    background: #07C160;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    width: 168px
}

.download-button:hover {
    background: #06b259
}

.download-button:active {
    background: #06a351
}

.download-button+.download-button {
    margin-left: 24px
}

.download-info {
    text-align: left
}

.download-info font div {
    white-space: nowrap
}

.download-icon {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    display: inline-block;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cg fill='%23FFF' fill-rule='evenodd'%3E    %3Cpath d='M15.963 13.043l-3.243 3.243V6.472h-1.44v9.815l-3.243-3.244-1.018 1.018 3.623 3.623c.362.363.845.562 1.357.562.514 0 .996-.199 1.36-.562l3.622-3.623-1.018-1.018z'/%3E    %3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0m0 1.44c5.823 0 10.56 4.737 10.56 10.56S17.823 22.56 12 22.56 1.44 17.823 1.44 12 6.177 1.44 12 1.44'/%3E  %3C/g%3E%3C/svg%3E")
}

.download-button_white {
    width: 1;
    background-color: #f2f2f2;
    color: #000
}

.download-button_white .download-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cg fill-rule='evenodd'%3E    %3Cpath d='M15.963 13.043l-3.243 3.243V6.472h-1.44v9.815l-3.243-3.244-1.018 1.018 3.623 3.623c.362.363.845.562 1.357.562.514 0 .996-.199 1.36-.562l3.622-3.623-1.018-1.018z'/%3E    %3Cpath d='M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0m0 1.44c5.823 0 10.56 4.737 10.56 10.56S17.823 22.56 12 22.56 1.44 17.823 1.44 12 6.177 1.44 12 1.44'/%3E  %3C/g%3E%3C/svg%3E")
}

.download-button_white:hover {
    background: #eaeaea
}

.download-button_white:active {
    background: #e3e3e3
}

.download-beta {
    margin-top: 16px
}

.download-beta a {
    font-size: 14px;
    color: #576b95
}

.mobile {
    display: none;
    font-weight: 700;
    position: absolute;
    top: -36px;
    text-align: center;
    left: 0;
    width: 100vw;
    font-size: 14px;
    color: rgba(0, 0, 0, .35);
    line-height: 1.4
}

.mobile .no-bold {
    font-weight: 400
}

@media (max-width: 440px) {
    .mobile {
        display: unset
    }

    .download-button,
    .download-beta {
        display: none
    }
}

@media (max-width: 376px) {
    .mobile {
        font-size: 12px
    }

    .download-button {
        display: none
    }
}

.image-area {
    position: absolute;
    z-index: -2;
    width: 100vw;
    bottom: -22vw;
    text-align: center;
    opacity: 0;
    animation: fadeAndMoveIn 1s .2s forwards
}

.image-area:after {
    content: "";
    overflow: hidden;
    position: absolute;
    height: 4000px;
    top: 50px;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: -3;
    background: url(//res.wx.qq.com/t/wx_fed/base/portal/windows/res/assets/background.d78bd695.svg) 0 0 no-repeat;
    opacity: 0;
    background-size: contain;
    animation: fadeAndMoveIn 1s .4s forwards
}

.image {
    overflow: hidden;
    margin: 0 auto;
    width: 80vw;
    max-width: 900px
}

@media (min-height: 900px) {
    .image {
        max-width: 100vh
    }
}

@media (min-width: 1000px) {
    .image-area {
        bottom: -240px
    }
}

@media (min-width: 1800px) and (min-height: 1800px) {
    .image-area {
        bottom: -320px
    }
}

@media (min-width: 1440px) and (max-height: 1000px) {
    .image-area:after {
        top: 0
    }
}

@media (min-width: 3000px) and (max-height: 1700px) {
    .image-area:after {
        top: -36px
    }
}

@media (min-width: 3000px) and (max-height: 1000px) {
    .image-area:after {
        top: -72px
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .image {
        width: 90vw
    }
}

@media (max-width: 768px) {
    .image-area {
        bottom: -260px
    }

    .image-area:after {
        visibility: hidden
    }

    .image {
        min-width: 900px;
        padding: 0 56px
    }
}

@media (max-width: 768px) and (min-height: 900px) {
    .image-area {
        bottom: -240px
    }
}

@media (max-width: 768px) and (min-height: 1200px) {
    .image-area {
        bottom: -160px
    }
}

@media (max-width: 440px) {
    .image-area {
        bottom: -126px
    }

    .image-area:after {
        visibility: hidden
    }

    .image {
        min-width: 680px;
        padding: unset;
        margin: 0 -48px
    }
}

@media (max-width: 440px) and (max-height: 570px) {
    .image-area {
        bottom: -140px
    }
}

@media (max-width: 440px) and (max-height: 634px) {
    .image-area {
        bottom: -180px
    }
}

@media (min-width: 900px) and (max-width: 1200px) and (min-height: 900px) {
    .image-area {
        bottom: -200px
    }
}

.page-wrapper {
    position: relative;
    height: 100vh;
    min-height: 600px;
    overflow: hidden
}

@media (min-width: 376px) and (max-width: 440px) and (max-height: 700px) {
    .page-wrapper {
        min-height: 700px
    }
}

@media (min-width: 440px) and (max-height: 760px) {
    .page-wrapper {
        min-height: 760px
    }
}

@media (min-width: 1440px) and (max-height: 800px) {
    .page-wrapper {
        min-height: 800px
    }
}

footer {
    position: absolute;
    color: rgba(0, 0, 0, .5);
    bottom: 8px;
    -webkit-text-size-adjust: none;
    font-size: 10px;
    text-align: center;
    left: 0;
    right: 0
}

footer a {
    color: rgba(0, 0, 0, .5);
    position: relative;
    left: -3px
}

footer a:hover:after {
    content: "";
    color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: -2px;
    left: 5px;
    right: 5px;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, .5)
}

footer .law-files {
    margin-bottom: 4px
}

.desktop-footer {
    text-align: left;
    margin-left: 48px
}

@media (min-width: 440px) {
    .mobile-footer {
        display: none
    }

    .desktop-footer {
        display: block
    }
}

@media (max-width: 440px) {

    .desktop-footer,
    .mobile-footer {
        display: none
    }
}

@media (max-width: 413px) {
    .mobile {
        font-size: 12px
    }
}

@keyframes fadeAndMoveIn {
    0% {
        transform: translateY(100px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fade {
    0% {
        top: 80px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}